@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,400;1,700&family=Mukta&display=swap');

body {
  background-color: #6c72ff;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  justify-items: center;
  height: 100vh;
  margin: 0;

}

main {
  text-align: center;
}

h1 {
  font-family: 'Lobster Two', sans-serif;
  font-weight: 750;
  color: #09E762;
  font-size: 100px;


}
p {
  font-size: 30px;
  color: white;
  font-weight: 600;
  font-family: Arial, sans-serif;
}