@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,400;1,700&family=Mukta&display=swap');

.logoname {
  font-family: 'Lobster Two', sans-serif;
  font-weight: 750;
  color: #09E762;
  font-size: 30px;
  margin-right: 20px; 

}
